/*Custom Scroll Bar*/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 8px;
}

